{% extends "base.html" %}
{% import "macros/_form_helpers.html" as form_helpers %} {# Ini sudah ada #}

{% block content %}
    <div class="container mt-5">
        <h1>Edit Profile</h1>
        <form method="POST" action="">
            {{ form.hidden_tag() }}

            {{ form_helpers.render_field(form.name) }}
            {{ form_helpers.render_field(form.email) }}
            {{ form_helpers.render_field(form.phone_number) }}

            <div class="form-group mt-3">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock %}